h5{
    color :darkcyan
}
#lab{
    color: chocolate;
}
h1.text{
    color:crimson;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
h4,h6{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background: url("#") no-repeat right center scroll;

}
h1{
    border-style: solid;
    border-width: medium;
    border-color: rgb(25, 22, 18);
    border-radius: 5px 0px 10px 2px ;
}
h1{
    margin: 50px;
    padding-left: 400px ;
}