h5{
    color :darkcyan
}
#lab{
    color: chocolate;
}
h1.text{
    color:crimson;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
h4,h6{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background: url("#") no-repeat right center scroll;

}
h1{
    border-style: dotted;
}